* {
  box-sizing: border-box;
}
body {
  max-width: 1000px;
  margin: auto;
  padding: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001628;
  font-family: "Roboto Mono", monospace;
  margin-top: 40px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

p,
aside {
  line-height: 1.5;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.code {
  color: white;
  font-family: "Roboto Mono", monospace;
  background-color: #001628;
  padding: 0 5px;
  border-radius: 5px;
  font-size: small;
}

code,
figure,
.grid {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 3%;
}
code {
  width: 100%;
  background-color: #001628;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: small;
  padding: 20px;
  margin: 0;
  border-radius: 10px;
}

.b {
  color: #72e0d1;
}

.gr {
  color: #83ba52;
}

.y {
  color: #f5d67b;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* width: 300px; */
  border: 1px solid grey;
}

.item {
  display: grid;
  height: 100px;
  /* width: 100px; */
  /* height: 100px; */
  background-color: #001628;
  border: 1px solid gray;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}

.br {
  border-right: 1px solid gold;
}

.go {
  background-color: gold;
  color: black;
}

.responsive {
  /* width: 90%; */
  grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex > div {
  width: 50%;
  min-width: 300px;
  margin: auto;
  /* padding: 5%; */
}

ul {
  /* padding-left: 1em; */
}

li {
  list-style: square;
}
